# ======================
# Django Core
# ======================
Django==5.1.5
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1
# ======================
# Django Extensions
# ======================
django-environ==0.11.2
dj-database-url==2.3.0
djangorestframework==3.16.0
django-grappelli==3.0.10
django-filebrowser==4.0.3
django-widget-tweaks==1.5.0
# ======================
# Deployment
# ======================
gunicorn==23.0.0
psycopg2-binary==2.9.9
# ======================
# Data / File
# ======================
pillow==11.1.0
openpyxl==3.1.5
pandas==2.2.3
numpy==2.1.3
lxml==5.3.0
qrcode==7.4.2
reportlab==4.4.3
fpdf==1.7.2
et_xmlfile==2.0.0
# ======================
# HTTP / API
# ======================
requests==2.32.3
urllib3==2.4.0
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
httpx==0.28.1
httpcore==1.0.9
h11==0.16.0
sniffio==1.3.1
anyio==4.9.0
# ======================
# AI / OpenAI
# ======================
openai==1.93.0
pydantic==2.11.7
pydantic_core==2.33.2
annotated-types==0.7.0
typing_extensions==4.12.2
typing-inspection==0.4.1
jiter==0.10.0
tqdm==4.67.1
# ======================
# Utils
# ======================
beautifulsoup4==4.13.4
soupsieve==2.7
six==1.17.0
colorama==0.4.6
packaging==24.2
python-dotenv==1.1.0
distro==1.9.0
# ======================
# ======================
selenium==4.21.0
webdriver-manager==4.0.2
# ======================
# ======================

# ======================

# ======================
# Scheduler
# ======================
django-crontab==0.7.1
