{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h3 class="mb-0">내 학교 목록</h3>
        <a href="{% url 'register_school' %}" class="btn btn-outline-success">
            + 학교 등록
        </a>
    </div>
    
    <div class="row">
        {% for school in schools %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-building me-1"></i> {{ school.name }} {{ school.program_name }}</h5>
                    <div class="d-flex gap-2">
                        <a href="{% url 'attendance_list' %}?school={{ school.id }}" class="btn btn-primary">
                            출석 체크
                        </a>
                        <a href="{% url 'update_school' school.id %}" class="btn btn-outline-warning">
                            수정
                        </a>
                        <form method="post" action="{% url 'delete_school' school.id %}" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    
</div>
{% endblock %}
